@charset "UTF-8";
@media (max-width: 1200px) {
  section.menus {
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media (max-width: 976px) {
  section.menus {
    width: 500px;
  }
}
@media (max-width: 500px) {
  body {
    margin: 0;
  }

  h1 {
    font-size: 1.5em;
  }

  #corps {
    margin: 0;
    padding: 0;
    width: 500px;
  }

  section.menus {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn.btn-prochainement {
    width: 300px;
    font-size: 1.6em;
    margin: 20px auto 40px auto;
  }

  footer {
    display: flex;
    flex-flow: column wrap;
  }
  footer .btn {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 500px;
  }
}
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fdcb47;
}

h2,
h3 {
  font-weight: lighter;
}

ul {
  list-style-type: none;
  padding: 0;
}

@font-face {
  font-family: "devon";
  src: url("../fonts/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "RalewayR";
  src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "RalewayM";
  src: url("../fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: "croissant";
  src: url("../fonts/CroissantOne-Regular.ttf");
}
@font-face {
  font-family: "dancing";
  src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}
@font-face {
  font-family: "kaushan";
  src: url("../fonts/KaushanScript-Regular.ttf");
}
@font-face {
  font-family: "baneberry";
  src: url("../fonts/Baneberry-Regular.ttf");
}
@font-face {
  font-family: "spectral";
  src: url("../fonts/Spectral-SemiBold.ttf");
}
@font-face {
  font-family: "segoe";
  src: url("../fonts/SegoePrint.ttf");
}
@font-face {
  font-family: "rubik";
  src: url("../fonts/Rubik-Medium.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/RobotoSlab-Regular.ttf");
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #569c87;
  position: sticky;
  bottom: 0;
}
footer .btn {
  height: 60px;
  margin: 0;
  padding-top: 30px;
}

.btn-mentions {
  text-align: left;
  padding-left: 30px;
}

.btn-contacts {
  text-align: right;
  padding-right: 30px;
}

header {
  background-color: #569c87;
  color: #fdcb47;
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin: auto;
  padding: 25px 0 25px 0;
}
header h1 {
  margin: 0px;
  font-family: "cynthobold", Arial, Helvetica, sans-serif;
  letter-spacing: -0.05em;
}

.menus {
  padding: 20px;
  margin: auto;
  width: 700px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu {
  width: 300px;
  height: 430px;
  margin: 20px;
  box-shadow: 0px 0px 10px 0px #bdbdbd;
}
.menu.note {
  background-color: #fcdfdb;
}
.menu.chic {
  background-color: #fcf5fe;
}
.menu.delice {
  background-color: #f9f9f9;
}
.menu.palette {
  background-color: #fdfffd;
}

.menu .contenu {
  text-align: center;
  font-size: 1.2em;
  padding: 100px 0 100px 0;
}

.menu .titre {
  text-align: center;
  font-size: 2em;
}

.menu.note h3 {
  font-family: "devon", Arial, Helvetica, sans-serif;
  margin-top: 0;
  letter-spacing: 0.02em;
  font-size: 1.3em;
  color: #3c1218;
}

.menu.note h2 {
  font-family: "baneberry", Arial, Helvetica, sans-serif;
  color: #3c1218;
  font-size: 2em;
  margin-top: 0;
}

.note-musique img {
  margin: 0;
  color: transparent;
}

figure {
  margin-bottom: 0;
}

.menu.chic h3 {
  font-family: "croissant", Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  background: linear-gradient(to bottom right, #f78e1f, #8e56fc);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  padding-top: 30px;
  margin-bottom: 8px;
}

.menu.chic h2 {
  font-family: "spectral", Arial, Helvetica, sans-serif;
  margin-top: 0;
  color: #c77413;
}

.menu.delice h3 {
  font-family: "dancing", Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  background: linear-gradient(to bottom right, #2335f3, #89c8ff);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  color: transparent;
}

.menu.delice h2 {
  font-family: "segoe", Arial, Helvetica, sans-serif;
  margin-top: 0;
  color: #0a87fb;
}

.menu.palette h3 {
  font-family: "kaushan", Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  background: linear-gradient(to bottom right, #0b9104, #e7f7d7);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 15px;
}

.menu.palette h2 {
  font-family: "segoe", Arial, Helvetica, sans-serif;
  margin-top: 0;
  color: #72bf56;
}

.menu.mentions {
  width: 700px;
  height: 2200px;
  padding: 10px 35px 0 35px;
}
.menu.mentions .contenu {
  padding: 0;
  font-style: italic;
  text-align: justify;
}

.menus h3 {
  font-family: "rubik", Arial, Helvetica, sans-serif;
  font-size: 2em;
}

/*menu note de musique*/
.menus-note {
  width: 100%;
  margin-bottom: 70px;
}
.menus-note h1 {
  text-align: center;
  font-family: "rubik", Arial, Helvetica, sans-serif;
  font-size: 2.3em;
  font-weight: lighter;
  margin-bottom: 15px;
}
.menus-note .contenu {
  width: 100%;
  padding: 0;
}
.menus-note .contenu h3 {
  font-size: 2.5em;
}
.menus-note .menu.note {
  width: 780px;
  height: auto;
  margin: auto;
  padding: 0 70px;
  font-family: "segoe", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.menus-note .menu.note img {
  padding: 0;
  margin: auto 0;
}
.menus-note .menu.note .sous-titre-menu {
  font-size: 1.4em;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menus-note .menu.note p {
  margin: 0;
  width: 90%;
}
.menus-note .menu.note p.prix {
  width: 10%;
  text-align: right;
  font-weight: 900;
  font-size: large;
}
.menus-note .menu.note .ligne {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menus-note .note-musique {
  margin: 0;
  padding-top: 50px;
}
.menus-note .note-musique img {
  margin: 0;
  width: 60px;
  height: 60px;
}

.fin {
  width: 500px;
  margin: 0 auto 0 auto;
  padding: 50px 0 0 130px;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}
.fin img {
  width: 60px;
  height: 60px;
}
.fin h3.text {
  font-size: 2em;
  padding: 20px 0;
  margin: auto auto auto 10px;
}

/*menu chic à la française*/
.menus-chic {
  width: 100%;
  margin-bottom: 70px;
}
.menus-chic h1 {
  text-align: center;
  font-family: "rubik", Arial, Helvetica, sans-serif;
  font-size: 2.3em;
  font-weight: lighter;
  margin-bottom: 15px;
}
.menus-chic .contenu {
  width: 100%;
  padding: 0;
}
.menus-chic .contenu h3 {
  padding: 100px 0 50px 0;
  font-size: 2em;
}
.menus-chic .menu.chic {
  width: 800px;
  height: auto;
  margin: auto;
  padding: 0 30px;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.menus-chic .menu.chic img {
  padding: 0;
  margin: auto 0;
}
.menus-chic .menu.chic .sous-titre-menu {
  letter-spacing: 0.07em;
  font-size: 1.4em;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menus-chic .menu.chic .entree {
  color: #c77413;
}
.menus-chic .menu.chic .entree p {
  padding-left: 80px;
  margin: 0;
  width: 90%;
  letter-spacing: 0.05em;
}
.menus-chic .menu.chic .entree p.prix {
  padding-right: 90px;
  width: 10%;
  text-align: right;
}
.menus-chic .menu.chic .plat {
  color: #a56699;
  font-size: 0.9em;
}
.menus-chic .menu.chic .plat p {
  padding-left: 80px;
  margin: 0;
  width: 90%;
  letter-spacing: 0.05em;
}
.menus-chic .menu.chic .plat p.prix {
  padding-right: 90px;
  width: 10%;
  text-align: right;
}
.menus-chic .menu.chic .dessert {
  color: #6e4ccc;
  font-size: 0.9em;
}
.menus-chic .menu.chic .dessert p {
  padding-left: 80px;
  margin: 0;
  width: 90%;
  letter-spacing: 0.05em;
}
.menus-chic .menu.chic .dessert p.prix {
  padding-right: 90px;
  width: 10%;
  text-align: right;
}
.menus-chic .menu.chic .ligne {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menus-chic .menu.chic .derniere-ligne {
  padding-bottom: 100px;
}

/*menu le délice des papilles*/
.menus-delice {
  width: 100%;
  margin-bottom: 70px;
}
.menus-delice h1 {
  text-align: center;
  font-family: "rubik", Arial, Helvetica, sans-serif;
  font-size: 2.3em;
  font-weight: lighter;
  margin-bottom: 15px;
}
.menus-delice .contenu {
  width: 100%;
  padding: 0;
}
.menus-delice .contenu h3 {
  padding: 100px 0 0 0;
  font-size: 3.5em;
}
.menus-delice .menu.delice {
  width: 885px;
  height: auto;
  margin: auto;
  padding: 0 25px;
  font-family: "segoe", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: black;
}
.menus-delice .menu.delice img {
  padding: 0;
  margin: auto 0;
}
.menus-delice .menu.delice .sous-titre-menu {
  letter-spacing: 0.07em;
  font-size: 1.4em;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menus-delice .menu.delice p {
  padding-left: 70px;
  margin: 0;
  width: 90%;
  letter-spacing: 0.05em;
  line-height: 0.8em;
}
.menus-delice .menu.delice p.prix {
  padding-right: 80px;
  width: 10%;
  text-align: right;
  font-size: 1.5em;
}
.menus-delice .menu.delice .ligne {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menus-delice .menu.delice .derniere-ligne {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-bottom: 100px;
}

/*menu la palette du goût*/
.menus-palette {
  width: 100%;
  margin-bottom: 70px;
}
.menus-palette h1 {
  text-align: center;
  font-family: "rubik", Arial, Helvetica, sans-serif;
  font-size: 2.3em;
  font-weight: lighter;
  margin-bottom: 15px;
}
.menus-palette .contenu {
  width: 100%;
  padding: 0;
}
.menus-palette .contenu h3 {
  padding: 100px 0 0 0;
  font-size: 3.5em;
}
.menus-palette .menu.palette {
  width: 900px;
  height: auto;
  margin: auto;
  padding: 0 25px;
  font-family: "segoe", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: black;
}
.menus-palette .menu.palette img {
  padding: 0;
  margin: auto 0;
}
.menus-palette .menu.palette .sous-titre-menu {
  letter-spacing: 0.07em;
  font-size: 1.4em;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menus-palette .menu.palette p {
  padding-left: 60px;
  margin: 0;
  width: 90%;
  height: 20px;
  letter-spacing: 0.05em;
  line-height: 0.7em;
  font-size: 1.01em;
}
.menus-palette .menu.palette p.prix {
  padding-right: 80px;
  width: 10%;
  text-align: right;
  font-size: 1.5em;
}
.menus-palette .menu.palette .ligne {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menus-palette .menu.palette .derniere-ligne {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-bottom: 100px;
}

aside {
  display: flex;
}

.btn.btn-prochainement {
  font-family: "RalewayM", Arial, Helvetica, sans-serif;
  background-color: #569c87;
  color: #fdcb47;
  letter-spacing: 0.06em;
  width: 430px;
  height: 70px;
  border-radius: 8px;
  margin: 0 auto 40px auto;
  font-size: 2.2em;
  border: 0px solid;
}

.btn {
  font-family: "RalewayM", Arial, Helvetica, sans-serif;
  background-color: #569c87;
  color: #fdcb47;
  letter-spacing: -0.02em;
  width: 450px;
  height: 60px;
  margin: 0 auto 40px auto;
  font-size: 2em;
  border: none;
}

/*# sourceMappingURL=style.css.map */
