@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fdcb47;
}

h2,
h3 {
  font-weight: lighter;
}

ul {
  list-style-type: none;
  padding: 0;
}

@font-face {
  font-family: "devon";
  src: url("../fonts/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "RalewayR";
  src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "RalewayM";
  src: url("../fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: "croissant";
  src: url("../fonts/CroissantOne-Regular.ttf");
}
@font-face {
  font-family: "dancing";
  src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}
@font-face {
  font-family: "kaushan";
  src: url("../fonts/KaushanScript-Regular.ttf");
}
@font-face {
  font-family: "baneberry";
  src: url("../fonts/Baneberry-Regular.ttf");
}
@font-face {
  font-family: "spectral";
  src: url("../fonts/Spectral-SemiBold.ttf");
}
@font-face {
  font-family: "segoe";
  src: url("../fonts/SegoePrint.ttf");
}
@font-face {
  font-family: "rubik";
  src: url("../fonts/Rubik-Medium.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/RobotoSlab-Regular.ttf");
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #569c87;
  position: sticky;
  bottom: 0;
}
footer .btn {
  background-color: transparent;
  height: 50px;
  margin: 0;
  padding-top: 20px;
}

.btn-mentions {
  text-align: left;
  padding-left: 30px;
}

.btn-contacts {
  text-align: right;
  padding-right: 30px;
}

header {
  background-color: #569c87;
  color: #fdcb47;
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin: auto;
  padding: 25px 0 25px 0;
}
header h1 {
  margin: 0px;
  font-family: "cynthobold", Arial, Helvetica, sans-serif;
  letter-spacing: -0.05em;
}

/*index*/
.menus {
  padding: 30px 0;
  margin: auto;
  width: 700px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
}

.menu {
  width: 300px;
  height: 420px;
  margin: 25px;
  box-shadow: 0px 0px 10px 0px #bdbdbd;
}
.menu.note {
  background-color: #fcdfdb;
}
.menu.note h4 {
  text-decoration: none;
  background: linear-gradient(to top, #3c1218 0%, #3c1218 10%, transparent 7%) no-repeat left bottom/0 100%;
  transition: background-size 0.8s;
  cursor: pointer;
}
.menu.note h4:hover {
  background-size: 100% 80%;
}
.menu.chic {
  background-color: #fcf5fe;
}
.menu.chic h4 {
  padding-bottom: 8px;
  text-decoration: none;
  background: linear-gradient(to top, #f78e1f 0%, #8e56fc 10%, transparent 5%) no-repeat left bottom/0% 100%;
  transition: background-size 0.8s;
  cursor: pointer;
}
.menu.chic h4:hover {
  background-size: 100% 50%;
}
.menu.delice {
  background-color: #f9f9f9;
}
.menu.delice h4 {
  text-decoration: none;
  background: linear-gradient(to top, #2335f3 0%, #89c8ff 10%, transparent 5%) no-repeat left bottom/0 70%;
  transition: background-size 0.8s;
  cursor: pointer;
}
.menu.delice h4:hover {
  background-size: 100% 80%;
}
.menu.palette {
  background-color: #fdfffd;
}
.menu.palette h4 {
  text-decoration: none;
  background: linear-gradient(to top, #0b9104 0%, #e7f7d7 10%, transparent 5%) no-repeat left bottom/0 70%;
  transition: background-size 0.8s;
  cursor: pointer;
}
.menu.palette h4:hover {
  background-size: 100% 80%;
}

.menu .contenu {
  text-align: center;
  font-size: 1.2em;
  padding: 100px 0 100px 0;
  transform: scale(1);
  transition: transform 800ms;
}
.menu .contenu:hover {
  transform: scale(1.15);
  opacity: 0.8;
}

.menu .titre {
  text-align: center;
  font-size: 2em;
}

/*mentions*/
.menus > h3 {
  font-size: 3em;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
}

.menu.mentions {
  width: 100%;
  height: auto;
  padding: 10px 35px 0 35px;
}
.menu.mentions .contenuml {
  padding: 0;
  font-style: italic;
  text-align: center;
  font-size: 1.2em;
}

/*menu note de musique*/
.menu.note h3 {
  font-family: "devon", Arial, Helvetica, sans-serif;
  margin-top: 0;
  letter-spacing: 0.02em;
  font-size: 1.3em;
  color: #3c1218;
}

.menu.note h2 {
  font-family: "baneberry", Arial, Helvetica, sans-serif;
  color: #3c1218;
  font-size: 2em;
  margin-top: 0;
}

.note-musique img {
  margin: 0;
  color: transparent;
}

figure {
  margin-bottom: 0;
}

.menus-note {
  width: 100%;
  margin-bottom: 70px;
}
.menus-note h1 {
  text-align: center;
  font-family: "rubik", Arial, Helvetica, sans-serif;
  font-size: 2.3em;
  font-weight: lighter;
  margin-bottom: 15px;
}
.menus-note .contenu {
  width: 100%;
  padding: 0;
}
.menus-note .contenu h3 {
  font-size: 2.5em;
}
.menus-note .menu.note {
  width: 780px;
  height: auto;
  margin: auto;
  padding: 0 70px;
  font-family: "segoe", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.menus-note .menu.note img {
  padding: 0;
  margin: auto 0;
}
.menus-note .menu.note .sous-titre-menu {
  font-size: 1.4em;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menus-note .menu.note p {
  margin: 0;
  width: 90%;
}
.menus-note .menu.note p.prix {
  width: 15%;
  text-align: right;
  font-weight: 900;
  font-size: large;
}
.menus-note .menu.note .ligne {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menus-note .note-musique {
  margin: 0;
  padding-top: 50px;
}
.menus-note .note-musique img {
  margin: 0;
  width: 60px;
  height: 60px;
}

.fin {
  width: 500px;
  margin: 0 auto 0 auto;
  padding: 50px 0 0 130px;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}
.fin img {
  width: 60px;
  height: 60px;
}
.fin h3.text {
  font-size: 2em;
  padding: 20px 0;
  margin: auto auto auto 10px;
}

/*menu chic à la française*/
.menus-chic {
  width: 100%;
  margin-bottom: 70px;
}
.menus-chic h1 {
  text-align: center;
  font-family: "rubik", Arial, Helvetica, sans-serif;
  font-size: 2.3em;
  font-weight: lighter;
  margin-bottom: 15px;
}
.menus-chic .contenu {
  width: 100%;
  padding: 0;
}
.menus-chic .menu.chic {
  width: 800px;
  height: auto;
  margin: auto;
  padding: 0 30px;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.menus-chic .menu.chic h3 {
  padding: 100px 0 50px 0;
  font-size: 2em;
}
.menus-chic .menu.chic img {
  padding: 0;
  margin: auto 0;
}
.menus-chic .menu.chic .sous-titre-menu {
  letter-spacing: 0.07em;
  font-size: 1.4em;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menus-chic .menu.chic .entree {
  color: #c77413;
}
.menus-chic .menu.chic .entree p {
  padding-left: 80px;
  margin: 0;
  width: 90%;
  letter-spacing: 0.05em;
}
.menus-chic .menu.chic .entree p.prix {
  padding-right: 90px;
  width: 10%;
  text-align: right;
}
.menus-chic .menu.chic .plat {
  color: #a56699;
  font-size: 0.9em;
}
.menus-chic .menu.chic .plat p {
  padding-left: 80px;
  margin: 0;
  width: 90%;
  letter-spacing: 0.05em;
}
.menus-chic .menu.chic .plat p.prix {
  padding-right: 90px;
  width: 10%;
  text-align: right;
}
.menus-chic .menu.chic .dessert {
  color: #6e4ccc;
  font-size: 0.9em;
}
.menus-chic .menu.chic .dessert p {
  padding-left: 80px;
  margin: 0;
  width: 90%;
  letter-spacing: 0.05em;
}
.menus-chic .menu.chic .dessert p.prix {
  padding-right: 90px;
  width: 10%;
  text-align: right;
}
.menus-chic .menu.chic .ligne {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menus-chic .menu.chic .derniere-ligne {
  padding-bottom: 100px;
}

.menu.chic h3 {
  padding-top: 50px;
  margin-bottom: 8px;
  font-size: 0.9em;
  letter-spacing: 0.08em;
  font-family: "croissant", Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom right, #f78e1f, #8e56fc);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}

.menu.chic h2 {
  font-family: "spectral", Arial, Helvetica, sans-serif;
  margin-top: 0;
  color: #c77413;
}

/*menu le délice des papilles*/
.menu.delice h3 {
  font-family: "dancing", Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  background: linear-gradient(to bottom right, #2335f3, #89c8ff);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  color: transparent;
}

.menu.delice h2 {
  font-family: "segoe", Arial, Helvetica, sans-serif;
  margin-top: 0;
  color: #0a87fb;
}

.menus-delice {
  width: 100%;
  margin-bottom: 70px;
}
.menus-delice h1 {
  text-align: center;
  font-family: "rubik", Arial, Helvetica, sans-serif;
  font-size: 2.3em;
  font-weight: lighter;
  margin-bottom: 15px;
}
.menus-delice .contenu {
  width: 100%;
  padding: 0;
}
.menus-delice .contenu h3 {
  padding: 100px 0 0 0;
  font-size: 3.5em;
}
.menus-delice .menu.delice {
  width: 885px;
  height: auto;
  margin: auto;
  padding: 0 25px;
  font-family: "segoe", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: black;
}
.menus-delice .menu.delice img {
  padding: 0;
  margin: auto 0;
}
.menus-delice .menu.delice .sous-titre-menu {
  letter-spacing: 0.07em;
  font-size: 1.4em;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menus-delice .menu.delice p {
  padding-left: 70px;
  margin: 0;
  width: 90%;
  letter-spacing: 0.05em;
  line-height: 0.8em;
}
.menus-delice .menu.delice p.prix {
  padding-right: 80px;
  width: 10%;
  text-align: right;
  font-size: 1.2em;
}
.menus-delice .menu.delice .ligne {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menus-delice .menu.delice .derniere-ligne {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-bottom: 100px;
}

/*menu la palette du goût*/
.menu.palette h3 {
  font-family: "kaushan", Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  background: linear-gradient(to bottom right, #0b9104, #e7f7d7);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 15px;
}

.menu.palette h2 {
  font-family: "segoe", Arial, Helvetica, sans-serif;
  margin-top: 0;
  color: #72bf56;
}

.menus-palette {
  width: 100%;
  margin-bottom: 70px;
}
.menus-palette h1 {
  text-align: center;
  font-family: "rubik", Arial, Helvetica, sans-serif;
  font-size: 2.3em;
  font-weight: lighter;
  margin-bottom: 15px;
}
.menus-palette .contenu {
  width: 100%;
  padding: 0;
}
.menus-palette .contenu h3 {
  padding: 100px 0 0 0;
  font-size: 3.5em;
}
.menus-palette .menu.palette {
  width: 900px;
  height: auto;
  margin: auto;
  padding: 0 25px;
  font-family: "segoe", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: black;
}
.menus-palette .menu.palette img {
  padding: 0;
  margin: auto 0;
}
.menus-palette .menu.palette .sous-titre-menu {
  letter-spacing: 0.07em;
  font-size: 1.4em;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menus-palette .menu.palette p {
  padding-left: 60px;
  margin: 0;
  width: 90%;
  height: 20px;
  letter-spacing: 0.05em;
  line-height: 0.7em;
  font-size: 1.01em;
}
.menus-palette .menu.palette p.prix {
  padding-right: 80px;
  width: 10%;
  text-align: right;
  font-size: 1.2em;
}
.menus-palette .menu.palette .ligne {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menus-palette .menu.palette .derniere-ligne {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-bottom: 100px;
}

aside {
  display: flex;
}
aside .p {
  padding-top: 3px;
}
aside .p.point1 {
  transition: transform ease-in-out;
  animation: mouv 1000ms alternate-reverse infinite;
}
@keyframes mouv {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-2px) scale(1.1);
  }
  50% {
    transform: translateY(-3px) rotate(5deg);
    visibility: hidden;
  }
  75% {
    transform: translateY(-2px) scale(1.1);
    visibility: hidden;
  }
  100% {
    transform: translateY(-3px);
  }
}
aside .p.point2 {
  transition: transform ease-in-out;
  animation: mouv 1000ms alternate infinite;
  animation-delay: 3ms;
}
aside .p.point3 {
  transition: transform ease-in-out;
  animation: mouv 1000ms alternate-reverse infinite;
  animation-delay: 6ms;
}

.btn.btn-prochainement {
  font-family: "RalewayM", Arial, Helvetica, sans-serif;
  background-color: #569c87;
  color: #fdcb47;
  letter-spacing: 0.06em;
  width: 300px;
  height: 58px;
  border-radius: 8px;
  margin: 0 auto 40px auto;
  padding: 15px 20px 0 20px;
  font-size: 2.2em;
  border: 0px solid;
}

.btn {
  font-family: "RalewayM", Arial, Helvetica, sans-serif;
  background-color: #569c87;
  color: #fdcb47;
  letter-spacing: -0.02em;
  width: 450px;
  height: 60px;
  margin: 0 auto 40px auto;
  font-size: 1.8em;
  border: none;
}
.btn.btn-mentions:hover {
  animation: text-shadow 1s ease-in-out infinite;
}
@keyframes text-shadow {
  0% {
    transform: translateX(0);
    text-shadow: 0.05em 0 0 #3c1218, 0.05em 0 0 #c77413, 0.05em 0 0 #2335f3, 0.05em 0 0 #0b9104;
  }
  20% {
    transform: translateY(-0.2em);
    text-shadow: 0 0.125vh 0 #3c1218, 0 0.25em 0 #c77413, 0 -0.125vh 0 #2335f3, 0 -0.25em 0 #0b9104;
  }
  40% {
    transform: translateY(0.3em);
    text-shadow: 0 -0.0625em 0 #3c1218, 0 -0.125vh 0 #c77413, 0 0.0625em 0 #2335f3, 0 0.125vh 0 #0b9104;
  }
  60% {
    transform: translateY(-0.25em);
    text-shadow: 0 0.03125em 0 #3c1218, 0 0.0625vh 0 #c77413, 0 -0.03125em 0 #2335f3, 0 -0.0625vh 0 #0b9104;
  }
  80% {
    transform: translateY(0);
    text-shadow: 0 0 0.0125em #3c1218, 0 0 0.007em #c77413, -0.0125em 0 0 #2335f3, -0.007em 0 0 #0b9104;
  }
}
.btn.btn-contacts:hover {
  animation: text-shadow 1s ease-in-out infinite;
}
@keyframes text-shadow {
  0% {
    transform: translateX(0);
    text-shadow: 0.05em 0 0 #3c1218, 0.05em 0 0 #c77413, 0.05em 0 0 #2335f3, 0.05em 0 0 #0b9104;
  }
  20% {
    transform: translateY(-0.2em);
    text-shadow: 0 0.125vh 0 #3c1218, 0 0.25em 0 #c77413, 0 -0.125vh 0 #2335f3, 0 -0.25em 0 #0b9104;
  }
  40% {
    transform: translateY(0.3em);
    text-shadow: 0 -0.0625em 0 #3c1218, 0 -0.125vh 0 #c77413, 0 0.0625em 0 #2335f3, 0 0.125vh 0 #0b9104;
  }
  60% {
    transform: translateY(-0.25em);
    text-shadow: 0 0.03125em 0 #3c1218, 0 0.0625vh 0 #c77413, 0 -0.03125em 0 #2335f3, 0 -0.0625vh 0 #0b9104;
  }
  80% {
    transform: translateY(0);
    text-shadow: 0 0 0.0125em #3c1218, 0 0 0.007em #c77413, -0.0125em 0 0 #2335f3, -0.007em 0 0 #0b9104;
  }
}

@media (max-width: 976px) {
  /*base de la page*/
  header {
    width: auto;
  }

  .menus {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: auto;
  }

  footer {
    width: auto;
    display: block;
  }
  footer .btn {
    width: auto;
    text-align: center;
    margin: auto;
    height: 20px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
  }
  footer .btn .btn-mentions {
    margin: auto;
  }
  footer .btn .btn-contacts {
    margin: auto;
  }

  .btn {
    width: 0;
  }

  /*mentions légales*/
  .menus > h3 {
    font-size: 2em;
  }

  /*menu note*/
  .menus-note .menu.note {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 0;
  }
  .menus-note .menu.note ul {
    padding: 0 20px 0 20px;
  }
  .menus-note .menu.note ul .prix {
    padding: 0 10px;
    font-size: 1em;
  }
  .menus-note .menu.note img {
    padding: 0 20px;
    overflow: hidden;
  }
  .menus-note .menu.note h4 {
    text-align: center;
  }
  .menus-note .menu.note .fin {
    display: block;
    width: auto;
    padding: 0;
  }
  .menus-note .menu.note .fin .__fin {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
  }
  .menus-note .menu.note .fin h3.text {
    margin: 0;
    text-align: center;
  }

  /*menu chic*/
  .menus-chic .menu.chic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 0;
  }
  .menus-chic .menu.chic .entree p {
    width: 80%;
    padding: 0 0 0 30px;
  }
  .menus-chic .menu.chic .entree p.prix {
    width: 20%;
    padding: 0 30px;
  }
  .menus-chic .menu.chic .plat p {
    width: 80%;
    padding: 0 0 0 30px;
  }
  .menus-chic .menu.chic .plat p.prix {
    width: 20%;
    padding: 0 30px;
  }
  .menus-chic .menu.chic .dessert p {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .menus-chic .menu.chic ul {
    padding: 0 20px 0 20px;
  }
  .menus-chic .menu.chic ul .prix {
    padding: 0 10px;
    font-size: 1em;
  }
  .menus-chic .menu.chic img {
    padding: 0 20px;
    overflow: hidden;
  }
  .menus-chic .menu.chic h4 {
    text-align: center;
  }
  .menus-chic .menu.chic .fin {
    display: block;
    width: auto;
    padding: 0;
  }
  .menus-chic .menu.chic .fin .__fin {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
  }
  .menus-chic .menu.chic .fin h3.text {
    margin: 0;
    text-align: center;
  }

  /*menu delice*/
  .menus-delice .menu.delice {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 0;
  }
  .menus-delice .menu.delice .entree p {
    width: 80%;
    padding: 0 0 0 30px;
    line-height: 1.7em;
  }
  .menus-delice .menu.delice .entree p.prix {
    width: 20%;
    padding: 0 30px;
  }
  .menus-delice .menu.delice .plat p {
    width: 80%;
    padding: 0 0 0 30px;
    line-height: 1.7em;
  }
  .menus-delice .menu.delice .plat p.prix {
    width: 20%;
    padding: 0 30px;
  }
  .menus-delice .menu.delice .dessert p {
    padding: 0;
    width: 100%;
    line-height: 1.7em;
  }
  .menus-delice .menu.delice .dessert p.prix {
    width: 20%;
    padding: 0 30px;
  }
  .menus-delice .menu.delice ul {
    padding: 0 20px 0 20px;
  }
  .menus-delice .menu.delice ul .prix {
    padding: 0 10px;
    font-size: 1em;
  }
  .menus-delice .menu.delice img {
    padding: 0 20px;
    overflow: hidden;
  }
  .menus-delice .menu.delice h4 {
    text-align: center;
  }
  .menus-delice .menu.delice .fin {
    display: block;
    width: auto;
    padding: 0;
  }
  .menus-delice .menu.delice .fin .__fin {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
  }
  .menus-delice .menu.delice .fin h3.text {
    margin: 0;
    text-align: center;
  }

  /*menu palette*/
  .menus-palette .menu.palette {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 0;
  }
  .menus-palette .menu.palette .entree p {
    width: 80%;
    height: 20%;
    padding: 0 0 0 30px;
    line-height: 2em;
  }
  .menus-palette .menu.palette .entree p.prix {
    width: 20%;
    padding: 0 30px;
  }
  .menus-palette .menu.palette .plat p {
    width: 80%;
    height: 20%;
    padding: 0 0 0 30px;
    line-height: 2em;
  }
  .menus-palette .menu.palette .plat p.prix {
    width: 20%;
    padding: 0 30px;
  }
  .menus-palette .menu.palette .dessert p {
    width: 80%;
    height: 20%;
    padding: 0;
    width: 100%;
    line-height: 2em;
  }
  .menus-palette .menu.palette .dessert p.prix {
    width: 20%;
    padding: 0 30px;
  }
  .menus-palette .menu.palette ul {
    padding: 0 20px 0 20px;
  }
  .menus-palette .menu.palette ul .prix {
    padding: 0 10px;
    font-size: 1em;
  }
  .menus-palette .menu.palette img {
    padding: 0 20px;
    overflow: hidden;
  }
  .menus-palette .menu.palette h4 {
    text-align: center;
  }
  .menus-palette .menu.palette .fin {
    display: block;
    width: auto;
    padding: 0;
  }
  .menus-palette .menu.palette .fin .__fin {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
  }
  .menus-palette .menu.palette .fin h3.text {
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 412px) {
  .menus {
    width: auto;
  }

  .menus-note h1 {
    font-size: 2em;
  }

  .menus-chic h1 {
    font-size: 2em;
  }

  .menus-delice h1 {
    font-size: 2em;
  }

  .menus-palette h1 {
    font-size: 2em;
  }

  .btn.btn-prochainement {
    width: 200px;
    font-size: 1.5em;
    height: 45px;
  }
}
@media (max-width: 375px) {
  .menus {
    width: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
