.btn.btn-prochainement {
    font-family: 'RalewayM', Arial, Helvetica, sans-serif;
    background-color: $color-primary;
    color: $color-secondary;
    letter-spacing: 0.06em;
    width: 300px;
    height: 58px;
    border-radius: 8px;
    margin: 0 auto 40px auto;
    padding: 15px 20px 0 20px;
    font-size: 2.2em;
    border: 0px solid;
}

.btn {
    font-family: 'RalewayM', Arial, Helvetica, sans-serif;
    background-color: $color-primary;
    color: $color-secondary;
    letter-spacing: -0.02em;
    width: 450px;
    height: 60px;
    margin: 0 auto 40px auto;
    font-size: 1.8em;
    border: none;

    &.btn-mentions:hover {
        @include wiggle;
    }

    &.btn-contacts:hover {
        @include wiggle;
    }
}