@media (max-width: 976px) {

    /*base de la page*/
    header {
        width: auto;
    }

    .menus {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: auto;
    }

    footer {
        width: auto;
        display: block;

        & .btn {
            text-align: center;
            margin: auto;
            padding: 30px 0 30px 0;
            display: flex;
            justify-content: center;

            & .btn-mentions {
                margin: auto;
            }

            & .btn-contacts {
                margin: auto;
            }
        }
    }

    .btn {
        width: 0;
    }

    /*mentions légales*/
    .menus>h3 {
        font-size: 2em;
    }

    /*menu note*/
    .menus-note .menu.note {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        padding: 0;

        & ul {
            padding: 0 20px 0 20px;

            & .prix {
                padding: 0 10px;
                font-size: 1em;
            }
        }

        & img {
            padding: 0 20px;
            overflow: hidden;
        }

        & h4 {
            text-align: center;
        }

        & .fin {
            display: block;
            width: auto;
            padding: 0;

            & .__fin {
                display: block;
                margin: 0 auto;
                padding-top: 50px;
            }

            & h3.text {
                margin: 0;
                text-align: center;
            }
        }
    }

    /*menu chic*/
    .menus-chic .menu.chic {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        padding: 0;

        & .entree {
            & p {
                width: 80%;
                padding: 0 0 0 30px;

                &.prix {
                    width: 20%;
                    padding: 0 30px;
                }
            }
        }

        & .plat {
            & p {
                width: 80%;
                padding: 0 0 0 30px;

                &.prix {
                    width: 20%;
                    padding: 0 30px;
                }
            }
        }

        & .dessert {
            & p {
                padding: 0;
                width: 100%;
                text-align: center;
            }
        }

        & ul {
            padding: 0 20px 0 20px;



            & .prix {
                padding: 0 10px;
                font-size: 1em;
            }
        }

        & img {
            padding: 0 20px;
            overflow: hidden;
        }

        & h4 {
            text-align: center;
        }

        & .fin {
            display: block;
            width: auto;
            padding: 0;

            & .__fin {
                display: block;
                margin: 0 auto;
                padding-top: 50px;
            }

            & h3.text {
                margin: 0;
                text-align: center;
            }
        }
    }

    /*menu delice*/
    .menus-delice .menu.delice {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        padding: 0;

        & .entree {
            & p {
                width: 80%;
                padding: 0 0 0 30px;
                line-height: 1.7em;

                &.prix {
                    width: 20%;
                    padding: 0 30px;
                }
            }
        }

        & .plat {
            & p {
                width: 80%;
                padding: 0 0 0 30px;
                line-height: 1.7em;

                &.prix {
                    width: 20%;
                    padding: 0 30px;
                }
            }
        }

        & .dessert {
            & p {
                padding: 0;
                width: 100%;
                line-height: 1.7em;

                &.prix {
                    width: 20%;
                    padding: 0 30px;
                }
            }
        }

        & ul {
            padding: 0 20px 0 20px;



            & .prix {
                padding: 0 10px;
                font-size: 1em;
            }
        }

        & img {
            padding: 0 20px;
            overflow: hidden;
        }

        & h4 {
            text-align: center;
        }

        & .fin {
            display: block;
            width: auto;
            padding: 0;

            & .__fin {
                display: block;
                margin: 0 auto;
                padding-top: 50px;
            }

            & h3.text {
                margin: 0;
                text-align: center;
            }
        }
    }

    /*menu palette*/
    .menus-palette .menu.palette {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        padding: 0;

        & .entree {
            & p {
                width: 80%;
                height: 20%;
                padding: 0 0 0 30px;
                line-height: 2em;

                &.prix {
                    width: 20%;
                    padding: 0 30px;
                }
            }
        }

        & .plat {
            & p {
                width: 80%;
                height: 20%;
                padding: 0 0 0 30px;
                line-height: 2em;

                &.prix {
                    width: 20%;
                    padding: 0 30px;
                }
            }
        }

        & .dessert {
            & p {
                width: 80%;
                height: 20%;
                padding: 0;
                width: 100%;
                line-height: 2em;

                &.prix {
                    width: 20%;
                    padding: 0 30px;
                }
            }
        }

        & ul {
            padding: 0 20px 0 20px;



            & .prix {
                padding: 0 10px;
                font-size: 1em;
            }
        }

        & img {
            padding: 0 20px;
            overflow: hidden;
        }

        & h4 {
            text-align: center;
        }

        & .fin {
            display: block;
            width: auto;
            padding: 0;

            & .__fin {
                display: block;
                margin: 0 auto;
                padding-top: 50px;
            }

            & h3.text {
                margin: 0;
                text-align: center;
            }
        }
    }
}




@media (max-width: 412px) {
    .menus {
        width: auto;
    }

    .menus-note h1 {
        font-size: 2em;
    }

    .menus-chic h1 {
        font-size: 2em;
    }

    .menus-delice h1 {
        font-size: 2em;
    }

    .menus-palette h1 {
        font-size: 2em;
    }

    .btn.btn-prochainement {
        width: 200px;
        font-size: 1.5em;
        height: 45px;
    }
}

@media (max-width: 375px) {
    .menus {
        width: 320px;
    }
}