aside {
    display: flex;


    & .p {
        padding-top: 3px;

        &.point1 {
            transition: transform ease-in-out;
            animation: mouv 1000ms alternate-reverse infinite;

            @keyframes mouv {
                0% {
                    transform: translateY(0px);
                }

                25% {
                    transform: translateY(-2px) scale(1.1);
                }

                50% {
                    transform: translateY(-3px) rotate(5deg);
                    visibility: hidden;
                }

                75% {
                    transform: translateY(-2px) scale(1.1);
                    visibility: hidden;
                }

                100% {
                    transform: translateY(-3px);
                }
            }
        }

        &.point2 {
            transition: transform ease-in-out;
            animation: mouv 1000ms alternate infinite;
            animation-delay: 3ms;

        }

        &.point3 {
            transition: transform ease-in-out;
            animation: mouv 1000ms alternate-reverse infinite;
            animation-delay: 6ms;
        }


    }


}