footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color-primary;
    position: sticky;
    bottom: 0;

    & .btn {
        background-color: transparent;
        height: 50px;
        margin: 0;
        padding-top: 20px;
    }
}

.btn-mentions {
    text-align: left;
    padding-left: 30px;
}

.btn-contacts {
    text-align: right;
    padding-right: 30px;
}