header {
    background-color: $color-primary;
    color: $color-secondary;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin: auto;
    padding: 25px 0 25px 0;

    & h1 {
        margin: 0px;
        font-family: 'cynthobold', Arial, Helvetica, sans-serif;
        letter-spacing: -0.05em;
    }

}