/*index*/
.menus {
    padding: 30px 0;
    margin: auto;
    width: 700px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}

.menu {
    width: 300px;
    height: 420px;
    margin: 25px;
    @include menu-shadow;

    &.note {
        background-color: $color-note;
        @include soulignement-note;
    }

    &.chic {
        background-color: $color-chic;
        @include soulignement-chic;
    }

    &.delice {
        background-color: $color-delice;
        @include soulignement-delice;
    }

    &.palette {
        background-color: $color-palette;
        @include soulignement-palette;
    }
}

.menu .contenu {
    text-align: center;
    font-size: 1.2em;
    padding: 100px 0 100px 0;
    @include zoom;
}

.menu .titre {
    text-align: center;
    font-size: 2em;
}

/*mentions*/
.menus>h3 {
    font-size: 3em;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}

.menu.mentions {
    width: 100%;
    height: auto;
    padding: 10px 35px 0 35px;

    & .contenuml {
        padding: 0;
        font-style: italic;
        text-align: center;
        font-size: 1.2em;
    }
}



/*menu note de musique*/
.menu.note h3 {
    font-family: 'devon', Arial, Helvetica, sans-serif;
    margin-top: 0;
    letter-spacing: 0.02em;
    font-size: 1.3em;
    color: $color-menu-note;
}

.menu.note h2 {
    font-family: 'baneberry', Arial, Helvetica, sans-serif;
    color: $color-menu-note;
    font-size: 2em;
    margin-top: 0;
}

.note-musique img {
    margin: 0;
    color: transparent;
}

figure {
    margin-bottom: 0;
}

.menus-note {
    @include structure-menu;

    & h1 {
        text-align: center;
        font-family: 'rubik', Arial, Helvetica, sans-serif;
        font-size: 2.3em;
        font-weight: lighter;
        margin-bottom: 15px;
    }

    & .contenu {
        width: 100%;
        padding: 0;

        & h3 {
            font-size: 2.5em;
        }
    }

    & .menu.note {
        width: 780px;
        height: auto;
        margin: auto;
        padding: 0 70px;
        font-family: 'segoe', Arial, Helvetica, sans-serif;
        font-weight: lighter;

        & img {
            padding: 0;
            margin: auto 0;
        }

        & .sous-titre-menu {
            font-size: 1.4em;
            margin: auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        & p {
            margin: 0;
            width: 90%;


            &.prix {
                width: 15%;
                text-align: right;
                font-weight: 900;
                font-size: large;
            }
        }

        & .ligne {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }

    & .note-musique {
        margin: 0;
        padding-top: 50px;

        & img {
            margin: 0;
            width: 60px;
            height: 60px;
        }
    }
}

.fin {
    width: 500px;
    margin: 0 auto 0 auto;
    padding: 50px 0 0 130px;
    display: flex;
    justify-content: center;
    font-size: 1.5em;

    & img {
        width: 60px;
        height: 60px;
    }

    & h3.text {
        font-size: 2em;
        padding: 20px 0;
        margin: auto auto auto 10px;
    }
}





/*menu chic à la française*/

.menus-chic {
    @include structure-menu;

    & h1 {
        text-align: center;
        font-family: 'rubik', Arial, Helvetica, sans-serif;
        font-size: 2.3em;
        font-weight: lighter;
        margin-bottom: 15px;
    }

    & .contenu {
        width: 100%;
        padding: 0;
    }

    & .menu.chic {
        width: 800px;
        height: auto;
        margin: auto;
        padding: 0 30px;
        font-family: 'roboto', Arial, Helvetica, sans-serif;
        font-weight: lighter;

        & h3 {
            padding: 100px 0 50px 0;
            font-size: 2em;
        }

        & img {
            padding: 0;
            margin: auto 0;
        }

        & .sous-titre-menu {
            letter-spacing: 0.07em;
            font-size: 1.4em;
            margin: auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        & .entree {
            color: $color-menu-chic;

            & p {
                padding-left: 80px;
                margin: 0;
                width: 90%;
                letter-spacing: 0.05em;

                &.prix {
                    padding-right: 90px;
                    width: 10%;
                    text-align: right;
                }
            }
        }

        & .plat {
            color: $color-chic-plat;
            font-size: 0.9em;

            & p {
                padding-left: 80px;
                margin: 0;
                width: 90%;
                letter-spacing: 0.05em;

                &.prix {
                    padding-right: 90px;
                    width: 10%;
                    text-align: right;
                }
            }
        }

        & .dessert {
            color: $color-chic-dessert;
            font-size: 0.9em;

            & p {
                padding-left: 80px;
                margin: 0;
                width: 90%;
                letter-spacing: 0.05em;

                &.prix {
                    padding-right: 90px;
                    width: 10%;
                    text-align: right;
                }
            }
        }

        & .ligne {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        & .derniere-ligne {
            padding-bottom: 100px;
        }
    }
}

.menu.chic h3 {
    padding-top: 50px;
    margin-bottom: 8px;
    font-size: 0.9em;
    letter-spacing: 0.08em;
    font-family: 'croissant', Arial, Helvetica, sans-serif;
    @include gradient-text ($start-color-gradient-chic, $end-color-gradient-chic);
}

.menu.chic h2 {
    font-family: 'spectral', Arial, Helvetica, sans-serif;
    margin-top: 0;
    color: $color-menu-chic;
}

/*menu le délice des papilles*/
.menu.delice h3 {
    font-family: 'dancing', Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    @include gradient-text ($start-color-gradient-delice, $end-color-gradient-delice);
    color: transparent;
}

.menu.delice h2 {
    font-family: 'segoe', Arial, Helvetica, sans-serif;
    margin-top: 0;
    color: $color-menu-delice;
}

.menus-delice {
    @include structure-menu;

    & h1 {
        text-align: center;
        font-family: 'rubik', Arial, Helvetica, sans-serif;
        font-size: 2.3em;
        font-weight: lighter;
        margin-bottom: 15px;
    }

    & .contenu {
        width: 100%;
        padding: 0;

        & h3 {
            padding: 100px 0 0 0;
            font-size: 3.5em;
        }
    }

    & .menu.delice {
        width: 885px;
        height: auto;
        margin: auto;
        padding: 0 25px;
        font-family: 'segoe', Arial, Helvetica, sans-serif;
        font-weight: lighter;
        color: $color-menu-text-delice;


        & img {
            padding: 0;
            margin: auto 0;
        }

        & .sous-titre-menu {
            letter-spacing: 0.07em;
            font-size: 1.4em;
            margin: auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        & p {
            padding-left: 70px;
            margin: 0;
            width: 90%;
            letter-spacing: 0.05em;
            line-height: 0.8em;


            &.prix {
                padding-right: 80px;
                width: 10%;
                text-align: right;
                font-size: 1.2em;
            }
        }

        & .ligne {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

        }

        & .derniere-ligne {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding-bottom: 100px;
        }
    }
}

/*menu la palette du goût*/
.menu.palette h3 {
    font-family: 'kaushan', Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    @include gradient-text ($start-color-gradient-palette, $end-color-gradient-palette);
    margin-bottom: 15px;
}

.menu.palette h2 {
    font-family: 'segoe', Arial, Helvetica, sans-serif;
    margin-top: 0;
    color: $color-menu-palette;
}

.menus-palette {
    @include structure-menu;

    & h1 {
        text-align: center;
        font-family: 'rubik', Arial, Helvetica, sans-serif;
        font-size: 2.3em;
        font-weight: lighter;
        margin-bottom: 15px;
    }

    & .contenu {
        width: 100%;
        padding: 0;

        & h3 {
            padding: 100px 0 0 0;
            font-size: 3.5em;
        }
    }

    & .menu.palette {
        width: 900px;
        height: auto;
        margin: auto;
        padding: 0 25px;
        font-family: 'segoe', Arial, Helvetica, sans-serif;
        font-weight: lighter;
        color: $color-menu-text-delice;


        & img {
            padding: 0;
            margin: auto 0;
        }

        & .sous-titre-menu {
            letter-spacing: 0.07em;
            font-size: 1.4em;
            margin: auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        & p {
            padding-left: 60px;
            margin: 0;
            width: 90%;
            height: 20px;
            letter-spacing: 0.05em;
            line-height: 0.7em;
            font-size: 1.01em;


            &.prix {
                padding-right: 80px;
                width: 10%;
                text-align: right;
                font-size: 1.2em;
            }
        }

        & .ligne {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

        }

        & .derniere-ligne {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding-bottom: 100px;
        }
    }
}